# Based on GitHub C gitignore (https://github.com/github/gitignore)

# Project ignores
build/
lib/

./inc/tick.h
./inc/pin.h
./inc/macro.h
./inc/intrinsics.h
./inc/errors.h
./inc/config.h



# Prerequisites
*.d

# Object files
*.o
# *.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
# *.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
# *.mod*
# *.cmd
# .tmp_versions/
# modules.order
# Module.symvers
# Mkfile.old
# dkms.conf
